html {
    font-size: 100px; /*DESW:640*960*/
}

html, body, .main, .swiper-container, .swiper-slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
}



/* ======== page1 ======== */
.page1 {
    position: relative;
    background-size: cover;
}

.page1 img {
    position: absolute;
    /*opacity: 0;*/
}

.page1 span{
    display: block;
    position:absolute;
    top:8.10rem;
    left:2.9rem;
    width:0.9rem;
    height:0.95rem;
    z-index:11;
    opacity:1;

    color:#fff;
    font-size:0.4rem;
    text-align: center;
}
@media all and (max-width:375px){
    .page1 span{
        top:7.98rem;
        left:2.85rem;
        width:1rem;
        height: 1rem;
        padding-top:0.2rem;

    }
}
@media all and (max-width:360px){
    .page1 span{
        top:7.8rem;
        left:2.85rem;
        width:1rem;
        height: 1rem;
        padding-top:0.2rem;

    }
}
@media all and (max-width:320px){
    .page1 span{
        top:7.9rem;
        left:2.85rem;
        width:1rem;
        height: 1rem;
        padding-top:0.2rem;
    }
}



.page1 .moveStart{
    -webkit-animation: fadeOutDownBig 1.5s linear 0s 1 both;
    animation: fadeOutDownBig 1.5s linear 0s 1 both;
}

@-webkit-keyframes fadeOutDownBig {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }
}
@keyframes fadeOutDownBig {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }
}



.page1 img:nth-child(1){
    top:0;
    left:0;
    width:6.4rem;
    height: 11.08rem;
    opacity:0;
}

#page1 img:nth-child(1){
    -webkit-animation: bounceIn 1s linear 3s 1 both;
    animation: bounceIn 1s linear 3s 1 both;

}

@-webkit-keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


.page1 img:nth-child(2){
    top:5.85rem;
    left:0rem;
    width:6.4rem;
    height:4.27rem;
    z-index:10;
}

.page1 img:nth-child(3){
    top:6.86rem;
    left:2.22rem;
    width:1.04rem;
    height:0.34rem;
    -webkit-transform:scaleX(1.2) scaleZ(1.3) rotate(-5deg);
    transform:scaleX(1.2) scaleZ(1.3) rotate(-5deg);
}

#page1 img:nth-child(3){
    -webkit-animation: leftArm 0.5s linear 0s infinite both;
    animation: leftArm 0.5s linear 0s infinite both;
}

@-webkit-keyframes leftArm{
    0% {
        -webkit-transform: scaleX(1.2) scaleZ(1.3) rotate(7deg);
        transform: scaleX(1.2) scaleZ(1.3) rotate(7deg);
    }
    10%{
        -webkit-transform: scaleX(1.2) scaleZ(1.3) rotate(4.6deg);
        transform: scaleX(1.2) scaleZ(1.3) rotate(4.6deg);
    }
    15%{
        -webkit-transform: scaleX(1.2) scaleZ(1.3) rotate(2.2deg);
        transform: scaleX(1.2) scaleZ(1.3) rotate(2.2deg);
    }
    25%{
        -webkit-transform: scaleX(1.2) scaleZ(1.3) rotate(-0.2deg);
        transform: scaleX(1.2) scaleZ(1.3) rotate(-0.2deg);
    }
    35%{
        -webkit-transform: scaleX(1.2) scaleZ(1.3) rotate(-2.6deg);
        transform: scaleX(1.2) scaleZ(1.3) rotate(-2.6deg);
    }
    50%{
        -webkit-transform: scaleX(1.2) scaleZ(1.3) rotate(-5deg);
        transform: scaleX(1.2) scaleZ(1.3) rotate(-5deg);
    }
    70%{
        -webkit-transform: scaleX(1.2) scaleZ(1.3) rotate(-2.6deg);
        transform: scaleX(1.2) scaleZ(1.3) rotate(-2.6deg);
    }
    80%{
        -webkit-transform: scaleX(1.2) scaleZ(1.3) rotate(-0.2deg);
        transform: scaleX(1.2) scaleZ(1.3) rotate(-0.2deg);
    }
    95%{
        -webkit-transform: scaleX(1.2) scaleZ(1.3) rotate(4.6deg);
        transform: scaleX(1.2) scaleZ(1.3) rotate(4.6deg);
    }
    100%{
        -webkit-transform: scaleX(1.2) scaleZ(1.3) rotate(2.2deg);
        transform: scaleX(1.2) scaleZ(1.3) rotate(2.2deg);
    }

}
@keyframes leftArm{
    0% {
        -webkit-transform: scaleX(1.2) scaleZ(1.3) rotate(7deg);
        transform: scaleX(1.2) scaleZ(1.3) rotate(7deg);
    }
    10%{
        -webkit-transform: scaleX(1.2) scaleZ(1.3) rotate(4.6deg);
        transform: scaleX(1.2) scaleZ(1.3) rotate(4.6deg);
    }
    15%{
        -webkit-transform: scaleX(1.2) scaleZ(1.3) rotate(2.2deg);
        transform: scaleX(1.2) scaleZ(1.3) rotate(2.2deg);
    }
    25%{
        -webkit-transform: scaleX(1.2) scaleZ(1.3) rotate(-0.2deg);
        transform: scaleX(1.2) scaleZ(1.3) rotate(-0.2deg);
    }
    35%{
        -webkit-transform: scaleX(1.2) scaleZ(1.3) rotate(-2.6deg);
        transform: scaleX(1.2) scaleZ(1.3) rotate(-2.6deg);
    }
    50%{
        -webkit-transform: scaleX(1.2) scaleZ(1.3) rotate(-5deg);
        transform: scaleX(1.2) scaleZ(1.3) rotate(-5deg);
    }
    70%{
        -webkit-transform: scaleX(1.2) scaleZ(1.3) rotate(-2.6deg);
        transform: scaleX(1.2) scaleZ(1.3) rotate(-2.6deg);
    }
    80%{
        -webkit-transform: scaleX(1.2) scaleZ(1.3) rotate(-0.2deg);
        transform: scaleX(1.2) scaleZ(1.3) rotate(-0.2deg);
    }
    95%{
        -webkit-transform: scaleX(1.2) scaleZ(1.3) rotate(4.6deg);
        transform: scaleX(1.2) scaleZ(1.3) rotate(4.6deg);
    }
    100%{
        -webkit-transform: scaleX(1.2) scaleZ(1.3) rotate(2.2deg);
        transform: scaleX(1.2) scaleZ(1.3) rotate(2.2deg);
    }

}



.page1 img:nth-child(4){
    top:6.94rem;
    right:2.53rem;
    width:0.45rem;
    height:0.34rem;
    z-index:11;
    -webkit-transform:scaleX(1.05) scaleY(1.3) translate(0rem,0.02rem);
    transform:scaleX(1.05) scaleY(1.3) translate(0rem,0.02rem);

}

#page1 img:nth-child(4){
    -webkit-animation: rightArm 0.5s linear 2.5s infinite both;
    animation: rightArm 0.5s linear 2.5s infinite both;

}
@-webkit-keyframes rightArm{
    0%{
        -webkit-transform:scaleX(1.05) scaleY(1.3) translate(0rem,0.02rem);
        transform:scaleX(1.05) scaleY(1.3) translate(0rem,0.02rem);
    }
    15%{
        -webkit-transform:scaleX(1.05) scaleY(1.3) translate(0rem,0.03rem);
        transform:scaleX(1.05) scaleY(1.3) translate(0rem,0.04rem);
    }
    30%{
        -webkit-transform:scaleX(1.05) scaleY(1.4) translate(0rem,0.04rem);
        transform:scaleX(1.05) scaleY(1.4) translate(0rem,0.04rem);
    }
    45% {
        -webkit-transform:scaleX(1.05) scaleY(1.5) translate(0rem,0.05rem);
        transform:scaleX(1.05) scaleY(1.5) translate(0rem,0.05rem);
    }
    55%{
        -webkit-transform:scaleX(1.05) scaleY(1.4) translate(0rem,0.04rem);
        transform:scaleX(1.05) scaleY(1.4) translate(0rem,0.04rem);
    }
    70%{
        -webkit-transform:scaleX(1.05) scaleY(1.3) translate(0rem,0.03rem);
        transform:scaleX(1.05) scaleY(1.3) translate(0rem,0.03rem);
    }
    100%{
        -webkit-transform:scaleX(1.05) scaleY(1.3) translate(0rem,0.02rem);
        transform:scaleX(1.05) scaleY(1.3) translate(0rem,0.02rem);
    }

}
@keyframes rightArm{
    0%{
        -webkit-transform:scaleX(1.05) scaleY(1.3) translate(0rem,0.02rem);
        transform:scaleX(1.05) scaleY(1.3) translate(0rem,0.02rem);
    }
    15%{
        -webkit-transform:scaleX(1.05) scaleY(1.3) translate(0rem,0.03rem);
        transform:scaleX(1.05) scaleY(1.3) translate(0rem,0.04rem);
    }
    30%{
        -webkit-transform:scaleX(1.05) scaleY(1.4) translate(0rem,0.04rem);
        transform:scaleX(1.05) scaleY(1.4) translate(0rem,0.04rem);
    }
    45% {
        -webkit-transform:scaleX(1.05) scaleY(1.5) translate(0rem,0.05rem);
        transform:scaleX(1.05) scaleY(1.5) translate(0rem,0.05rem);
    }
    55%{
        -webkit-transform:scaleX(1.05) scaleY(1.4) translate(0rem,0.04rem);
        transform:scaleX(1.05) scaleY(1.4) translate(0rem,0.04rem);
    }
    70%{
        -webkit-transform:scaleX(1.05) scaleY(1.3) translate(0rem,0.03rem);
        transform:scaleX(1.05) scaleY(1.3) translate(0rem,0.03rem);
    }
    100%{
        -webkit-transform:scaleX(1.05) scaleY(1.3) translate(0rem,0.02rem);
        transform:scaleX(1.05) scaleY(1.3) translate(0rem,0.02rem);
    }

}



/* left */
.page1 img:nth-child(5){
    top:-0.9rem;
    left:-0.8rem;
    width:3.50rem;
    height:3.70rem;
    opacity:0;
}

.page1 img:nth-child(6){
    top:1.8rem;
    left:-0.1rem;
    width:2.77rem;
    height:2.04rem;
    opacity:0;
}

.page1 img:nth-child(7){
    top:3.3rem;
    left:0rem;
    width:2.77rem;
    height:5.97rem;
    opacity:0;
}

#page1 img:nth-child(5){
    -webkit-animation: bounceInRight 1s linear 0.5s 1 both;
    animation: bounceInRight 1s linear 0.5s 1 both;
}

#page1 img:nth-child(6){
    -webkit-animation: bounceInRight 1s linear 1s 1 both;
    animation: bounceInRight 1s linear 1s 1 both;
}

#page1 img:nth-child(7){
    -webkit-animation: bounceInRight 1s linear 0.0s 1 both;
    animation: bounceInRight 1s linear 0.0s 1 both;
}


@-webkit-keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
        opacity:1;
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        opacity:1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        opacity:1;
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        opacity:1;
        -webkit-transform: none;
        transform: none;
    }
}


/* right */

.page1 img:nth-child(8){
    top:-0.9rem;
    right:-0.8rem;
    width:3.50rem;
    height:3.70rem;
    opacity:0;
}

.page1 img:nth-child(9){
    top:1.8rem;
    right:-0.1rem;
    width:2.77rem;
    height:2.04rem;
    opacity:0;
}

.page1 img:nth-child(10){
    top:3.3rem;
    right:0rem;
    width:2.77rem;
    height:5.97rem;
    opacity:0;
}


#page1 img:nth-child(8){
    -webkit-animation: bounceInLeft 1s linear 2s 1 both;
    animation: bounceInLeft 1s linear 2s 1 both;
}

#page1 img:nth-child(9){
    -webkit-animation: bounceInLeft 1s linear 2.5s 1 both;
    animation: bounceInLeft 1s linear 2.5s 1 both;
}

#page1 img:nth-child(10){
    -webkit-animation: bounceInLeft 1s linear 1.5s 1 both;
    animation: bounceInLeft 1s linear 1.5s 1 both;
}

@-webkit-keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        opacity:1;
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        opacity:1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        opacity:1;
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        opacity:1;
        -webkit-transform: none;
        transform: none;
    }
}


.page1 img:nth-child(11){
    top:2rem;
    left:2.7rem;
    width:1.02rem;
    height:1.97rem;
    opacity:0;
}

#page1 img:nth-child(11){
    -webkit-animation: rotateIn 1s linear 4s 1 both;
    animation: rotateIn 1s linear 4s 1 both;

}
@-webkit-keyframes rotateIn {
    from {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }

    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes rotateIn {
    from {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }

    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}



/* ======== page2 ======== */

.page2 {
    position: relative;
    background-size: cover;
}

.page2 img{
    position:absolute;
}



.page2 img:nth-child(1){
    top:0;
    left:0;
    width:6.4rem;
    height:11.08rem;
    z-index:2;
    opacity: 0;
}

#page2 img:nth-child(1){
    -webkit-animation: fadeInLeft 2s linear 0s 1 both;
    animation: fadeInLeft 2s linear 0s 1 both;

}
@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
        opacity:0;
    }
    0%{
        opacity:0;
    }
    3%{
        opacity:1;
    }
    to {
        opacity:1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
        opacity:0;
    }
    0%{
        opacity:0;
    }
    3%{
        opacity:1;
    }
    to {
        opacity:1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}


@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


.page2 img:nth-child(2){
    top:5rem;
    left:0;
    width:18.8rem;
    height:5.55rem;
    z-index:1;
    opacity:0;
}
#page2 img:nth-child(2){
    -webkit-animation: leftRun 10s linear 2s 1 both;
    animation: leftRun 10s linear 2s 1 both;

}
@-webkit-keyframes leftRun{
    0%{
        left:0rem;
    }
    3%{
        opacity:1;
    }
    5%{

        left:-0.5rem;
    }
    10%{
        left:-1rem;
    }
    15%{
        left:-1.5rem;
    }
    20%{
        left:-2rem;
    }
    25%{
        left:-2.5rem;
    }
    30%{
        left:-3rem;
    }
    35%{
        left:-3.5rem;
    }
    40%{
        left:-4rem;
    }
    45%{
        left:-4.5rem;
    }
    50%{
        left:-5rem;
    }
    55%{
        left:-5.5rem;
    }
    60%{
        left:-6rem;
    }
    65%{
        left:-6.5rem;
    }
    70%{
        left:-7rem;
    }
    80%{
        left:-7.5rem;
    }
    90%{
        left:-8rem;
    }
    100%{
        opacity:1;
        left:-8.5rem;
    }
}
@keyframes leftRun{
    0%{
        left:0rem;
    }
    3%{
        opacity:1;
    }
    5%{

        left:-0.5rem;
    }
    10%{
        left:-1rem;
    }
    15%{
        left:-1.5rem;
    }
    20%{
        left:-2rem;
    }
    25%{
        left:-2.5rem;
    }
    30%{
        left:-3rem;
    }
    35%{
        left:-3.5rem;
    }
    40%{
        left:-4rem;
    }
    45%{
        left:-4.5rem;
    }
    50%{
        left:-5rem;
    }
    55%{
        left:-5.5rem;
    }
    60%{
        left:-6rem;
    }
    65%{
        left:-6.5rem;
    }
    70%{
        left:-7rem;
    }
    80%{
        left:-7.5rem;
    }
    90%{
        left:-8rem;
    }
    100%{
        opacity:1;
        left:-8.5rem;
    }
}



.page2 img:nth-child(3){
    top: 2.1rem;
    left:1.6rem;
    width:0.31rem;
    height:0.68rem;
    z-index:2;
    opacity:0;
}

#page2 img:nth-child(3){
    -webkit-animation: moveJump 8s linear 2s 1 both;
    animation: moveJump 8s linear 2s 1 both;
}
@-webkit-keyframes moveJump{
    0%{
        opacity:0;
        left:1.6rem;
    }
    3%{
        opacity:0.5;
    }
    5%{
        opacity:1;
        left:1.7rem;
    }
    10%{
        left:1.8rem;
    }
    15%{
        left:1.9rem;
    }
    20%{
        left:1.95rem;
    }
    25%{
        left:1.97rem;
    }
    30%{
        left:2.03rem;
    }
    35%{
        left:2.05rem;
    }
    40%{
        top: 2.1rem;
        left:2.09rem;
    }
    45%{
        top:1.9rem;
        left:2.29rem;
    }
    50%{
        top:1.7rem;
        left:2.39rem;

    }
    55%{
        top:1.9rem;
        left:2.41rem;
    }
    60%{
        top:2.1rem;
        left:2.52rem;
    }
    65%{
        top:2.3rem;
        left:2.72rem;
    }
    70%{
        top:2.5rem;
        left:3.02rem;
    }
    75%{
        top:2.7rem;
        left:3.12rem;
    }
    80%{

        top:2.9rem;
        left:3.22rem;
    }
    85%{
        top:3.1rem;
        left:3.32rem;
    }

    90%{
        top:3.4rem;
        left:3.42rem;

    }
    95%{
        top:3.6rem;
        left:3.52rem;

    }
    100%{
        opacity:1;
        top:3.8rem;

        left:3.62rem;

    }
    to{
        top:3.8rem;
        opacity:1;
        left:3.62rem;
    }
}
@keyframes moveJump{
    0%{
        opacity:0;
        left:1.6rem;
    }
    3%{
        opacity:0.5;
    }
    5%{
        opacity:1;
        left:1.7rem;
    }
    10%{
        left:1.8rem;
    }
    15%{
        left:1.9rem;
    }
    20%{
        left:1.95rem;
    }
    25%{
        left:1.97rem;
    }
    30%{
        left:2.03rem;
    }
    35%{
        left:2.05rem;
    }
    40%{
        top: 2.1rem;
        left:2.09rem;
    }
    45%{
        top:1.9rem;
        left:2.29rem;
    }
    50%{
        top:1.7rem;
        left:2.39rem;

    }
    55%{
        top:1.9rem;
        left:2.41rem;
    }
    60%{
        top:2.1rem;
        left:2.52rem;
    }
    65%{
        top:2.3rem;
        left:2.72rem;
    }
    70%{
        top:2.5rem;
        left:3.02rem;
    }
    75%{
        top:2.7rem;
        left:3.12rem;
    }
    80%{

        top:2.9rem;
        left:3.22rem;
    }
    85%{
        top:3.1rem;
        left:3.32rem;
    }

    90%{
        top:3.4rem;
        left:3.42rem;

    }
    95%{
        top:3.6rem;
        left:3.52rem;

    }
    100%{
        opacity:1;
        top:3.8rem;

        left:3.62rem;

    }
    to{
        top:3.8rem;
        opacity:1;
        left:3.62rem;
    }
}



.page2 img:nth-child(4){
    top:0;
    left:0;
    width:6.4rem;
    height:11.08rem;
    z-index:2;
    opacity: 0;
}
#page2 img:nth-child(4){
    -webkit-animation: pulseHouse 1.5s linear 10s 1 both;
    animation: pulseHouse 1.5s linear 10s 1 both;

}

@-webkit-keyframes pulseHouse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    0%{
        opacity:0;
    }
    50% {
        opacity:1;
        -webkit-transform: scale3d(1.35, 1.35, 1.35);
        transform: scale3d(1.35, 1.35, 1.35);
    }

    to {
        opacity:1;
        -webkit-transform: scale3d(9,9,9);
        transform: scale3d(9, 9, 9);
    }
}
@keyframes pulseHouse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    0%{
        opacity:0;
    }
    50% {
        opacity:1;
        -webkit-transform: scale3d(1.35, 1.35, 1.35);
        transform: scale3d(1.35, 1.35, 1.35);
    }

    to {
        opacity:1;
        -webkit-transform: scale3d(9,9,9);
        transform: scale3d(9, 9, 9);
    }
}

.page2 h2{
    position:absolute;
    top: 1rem;
    left:1rem;
    z-index:3;
    opacity: 0;
    font-size:0.5rem;
    color:#fff;
}


#page2 h2{
    -webkit-animation: lightSpeedIn 1s linear 12s 1 both;
    animation: lightSpeedIn 1s linear 12s 1 both;

}
@-webkit-keyframes lightSpeedIn {
    from {
        -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }

    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
        opacity: 1;
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
@keyframes lightSpeedIn {
    from {
        -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }

    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
        opacity: 1;
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

/* circle */
.page2 img.circleInner{
    top:1.8rem;
    left:1.6rem;
    width:1.48rem;
    height:1.48rem;
    z-index:2;
}

.page2 img.circleOuter{
    top:1.8rem;
    left:1.6rem;
    width:1.72rem;
    height:1.71rem;
    z-index:2;
}

.page2 .item1 img:nth-child(1){
    top:2.8rem;
    left:0.6rem;
    width:1.48rem;
    height:1.48rem;
    z-index:3;
    opacity: 0;
}
#page2 .item1 img:nth-child(1){
    -webkit-animation: lightSpeedIn 1s linear 13s 1 both,fzhuan 5s linear 14s infinite both;
    animation: lightSpeedIn 1s linear 13s 1 both,fzhuan 5s linear 14s infinite both;
 }

.page2 .item1 img:nth-child(2){
    top:2.694rem;
    left:0.47rem;
    width:1.72rem;
    height:1.71rem;
    z-index:3;
    opacity: 0;
}

#page2 .item1 img:nth-child(2){
    -webkit-animation: lightSpeedIn 1s linear 14s 1 both,zhuan 3s linear 15s infinite both;
    animation: lightSpeedIn 1s linear 14s 1 both,zhuan 3s linear 15s infinite both;
}
@-webkit-keyframes lightSpeedIn {
    from {
        -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }

    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
        opacity: 1;
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes lightSpeedIn {
    from {
        -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }

    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
        opacity: 1;
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@-webkit-keyframes zhuan {
    to{
        /*transition:5s linear;*/
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg);

    }
}

@keyframes zhuan {
    to{
    /*transition:10s linear;*/
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);

}
}
@-webkit-keyframes fzhuan {
    to{
        /*transition:10s linear;*/
        -webkit-transform:rotate(-360deg);
        transform:rotate(-360deg);

    }
}

@keyframes fzhuan {
    to{
        /*transition:10s linear;*/
        -webkit-transform:rotate(-360deg);
        transform:rotate(-360deg);

    }
}


.page2 span{
    position:absolute;
    /*display:block;*/
    width:0.7rem;
    height:0.7rem;
    font-size:0.2rem;
    color:#fff;
    z-index:3;
}

.page2 span.time1{
    top:3.15rem;
    left:1.03rem;
    opacity:0;
}
#page2 span.time1{
    -webkit-animation: zoomInDown 1s linear 15s 1 both;
    animation: zoomInDown 1s linear 15s 1 both;
}

.page2 span.detail1{
    top:3.09rem;
    left:0.5rem;
    width:5.5rem;
    height: 0.85rem;
    line-height:0.85rem;
    z-index:2;
    box-shadow:0.01rem 0.01rem 0.03rem #eee;
    text-indent:2rem;
    background-color:#051918;
    border-radius: 0.4rem;
    opacity:0;

}

#page2 span.detail1{
    -webkit-animation: zoomInDown 1s linear 14s 1 both;
    animation: zoomInDown 1s linear 14s 1 both;
}
@-webkit-keyframes zoomInDown {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    to{
        opacity: 1;
    }
}

@keyframes zoomInDown {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    to{
        opacity: 1;
    }

}



.page2 .item2 img:nth-child(1){
    top:5.8rem;
    left:0.6rem;
    width:1.48rem;
    height:1.48rem;
    z-index:3;
    opacity: 0;
}
#page2 .item2 img:nth-child(1){
    -webkit-animation: lightSpeedIn 1s linear 14.5s 1 both,fzhuan 5s linear 14.5s infinite both;
    animation: lightSpeedIn 1s linear 14.5s 1 both,fzhuan 5s linear 14.5s infinite both;
}

.page2 .item2 img:nth-child(2){
    top:5.694rem;
    left:0.47rem;
    width:1.72rem;
    height:1.71rem;
    z-index:3;
    opacity: 0;
}
#page2 .item2 img:nth-child(2){
    -webkit-animation: lightSpeedIn 1s linear 15s 1 both,zhuan 3s linear 15.5s infinite both;
    animation: lightSpeedIn 1s linear 15s 1 both,zhuan 3s linear 15.5s infinite both;
}





.page2 span.time2{
    top:6.15rem;
    left:1.03rem;
    opacity:0;
}
#page2 span.time2{
    -webkit-animation: zoomInLeft 1s linear 15.5s 1 both;
    animation: zoomInLeft 1s linear 15.5s 1 both;
}

@-webkit-keyframes zoomInLeft {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
        transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
        transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    to{
        opacity: 1;
    }
}

@keyframes zoomInLeft {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
        transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
        transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    to{
        opacity: 1;
    }
}


.page2 span.detail2{
    top:6.1rem;
    left:0.5rem;
    width:5.5rem;
    height: 0.85rem;
    line-height:0.85rem;
    z-index:2;
    box-shadow:0.01rem 0.01rem 0.03rem #eee;
    text-indent:2rem;
    background-color:#051918;
    border-radius: 0.4rem;
    opacity:0;

}

#page2 span.detail2{
    -webkit-animation: zoomInRight 1s linear 15s 1 both;
    animation: zoomInRight 1s linear 15s 1 both;
}

@-webkit-keyframes zoomInRight {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    to{
        opacity: 1;
    }
}

@keyframes zoomInRight {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    to{
        opacity: 1;
    }
}





.page2 .item3 img:nth-child(1){
    top:7.3rem;
    left:0.6rem;
    width:1.48rem;
    height:1.48rem;
    z-index:3;
    opacity: 0;
}
#page2 .item3 img:nth-child(1){
    -webkit-animation: lightSpeedIn 1s linear 15.5s 1 both,fzhuan 5s linear 15s infinite both;
    animation: lightSpeedIn 1s linear 15.5s 1 both,fzhuan 5s linear 15s infinite both;
}

.page2 .item3 img:nth-child(2){
    top:7.194rem;
    left:0.47rem;
    width:1.72rem;
    height:1.71rem;
    z-index:3;
    opacity: 0;
}

#page2 .item3 img:nth-child(2){
    -webkit-animation: lightSpeedIn 1s linear 16s 1 both,zhuan 3s linear 16s infinite both;
    animation: lightSpeedIn 1s linear 16s 1 both,zhuan 3s linear 16s infinite both;
}

.page2 span.time3{
    top:7.6rem;
    left:1.03rem;
    opacity:0;
}
#page2 span.time3{
    -webkit-animation: zoomInUp 1s linear 16s 1 both;
    animation: zoomInUp 1s linear 16s 1 both;
}

.page2 span.detail3{
    top:7.6rem;
    left:0.5rem;
    width:5.5rem;
    height: 0.85rem;
    line-height:0.85rem;
    z-index:2;
    box-shadow:0.01rem 0.01rem 0.03rem #eee;
    text-indent:2rem;
    background-color:#051918;
    border-radius: 0.4rem;
    opacity:0;

}

#page2 span.detail3{
    -webkit-animation: zoomInUp 1s linear 15.5s 1 both;
    animation: zoomInUp 1s linear 15.5s 1 both;
}


@-webkit-keyframes zoomInUp {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    to{
        opacity:1;
    }
}

@keyframes zoomInUp {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    to{
        opacity:1;
    }

}




/* ======== page3 ======== */

.page3 {
    position: relative;
    background-size: cover;
}

.page3 img{
    position:absolute;
}

.page3 h2{
    position:absolute;
    top:1rem;
    left:1rem;
    color:white;
    font-size:0.8rem;
    z-index:3;
}

.page3 img:nth-child(1){
    top:0;
    left:0;
    width:25.19rem;
    height:10.08rem;
    opacity:1;
}
#page3 img:nth-child(1){

    -webkit-animation: runBg 10s linear 1s 1 both;
    animation: runBg 10s linear 1s 1 both;

}
@-webkit-keyframes runBg {
    0%{left:-0rem; }
    5%{left:-0.9rem;}
    10%{left:-1.8rem;}
    15%{left:-2.7rem;}
    20%{left:-3.6rem;}
    25%{left:-4.5rem;}
    30%{left:-5.4rem;}
    35%{left:-6.3rem;}
    40%{left:-7.2rem;}
    45%{left:-8.1rem;}
    50%{left:-9rem;}
    55%{left:-9.9rem;}
    60%{left:-10.8rem;}
    65%{left:-11.7rem;}
    70%{left:-12.6rem;}
    75%{left:-13.5rem;}
    80%{left:-14.4rem;}
    85%{left:-15.3rem;}
    90%{left:-16.2rem;}
    95%{left:-17.1rem;}
    100%{left:-18rem;}
    to{
        opacity:1;
        left:-18rem;
    }
}
@keyframes runBg {
    0%{left:-0rem;}
    5%{left:-0.9rem;}
    10%{left:-1.8rem;}
    15%{left:-2.7rem;}
    20%{left:-3.6rem;}
    25%{left:-4.5rem;}
    30%{left:-5.4rem;}
    35%{left:-6.3rem;}
    40%{left:-7.2rem;}
    45%{left:-8.1rem;}
    50%{left:-9rem;}
    55%{left:-9.9rem;}
    60%{left:-10.8rem;}
    65%{left:-11.7rem;}
    70%{left:-12.6rem;}
    75%{left:-13.5rem;}
    80%{left:-14.4rem;}
    85%{left:-15.3rem;}
    90%{left:-16.2rem;}
    95%{left:-17.1rem;}
    100%{left:-18rem;}
    to{
        opacity:1;
        left:-18rem;
    }
}






.page3 img:nth-child(2){
    top:9rem;
    left:-1rem;
    width:1.18rem;
    height:1.53rem;
    opacity:1;
    z-index:1;

}
#page3 img:nth-child(2){

    -webkit-animation: runBgPeople 13s linear 0s 1 both;
    animation: runBgPeople 13s linear 0s 1 both;

}
@-webkit-keyframes runBgPeople{
    0%{ left:-1rem;}
    6%{left:-0.48rem;}
    13%{left:-0rem;}
    19%{left:0.48rem;}
    25%{left:0.96rem;}
    31%{left:1.44rem;}
    37%{left:1.92rem;}
    43%{left:2.42rem;}
    49%{left:2.88rem;}
    55%{left:3.36rem;}
    62%{left:3.84rem;}
    68%{left:4.32rem;}
    74%{left:4.8rem;}
    81%{left:5.27rem;}
    87%{left:5.76rem;}
    95%{left:6.24rem;}
    100%{left:6.72rem;}
    to{
        left:6.7rem;
    }
}
@keyframes runBgPeople{
    0%{ left:-1rem;}
    6%{left:-0.48rem;}
    13%{left:-0rem;}
    19%{left:0.48rem;}
    25%{left:0.96rem;}
    31%{left:1.44rem;}
    37%{left:1.92rem;}
    43%{left:2.42rem;}
    49%{left:2.88rem;}
    55%{left:3.36rem;}
    62%{left:3.84rem;}
    68%{left:4.32rem;}
    74%{left:4.8rem;}
    81%{left:5.27rem;}
    87%{left:5.76rem;}
    95%{left:6.24rem;}
    100%{left:6.72rem;}
    to{
        left:6.7rem;
    }
}



.page3 img:nth-child(3){
    top:-1rem;
    left:1rem;
    width:10.5rem;
    height:12.56rem;
    opacity:0;
    z-index:2;
}
#page3 img:nth-child(3){

    -webkit-animation: runBgTree1 5s linear 5s 1 both;
    animation: runBgTree1 5s linear 5s 1 both;

}
@-webkit-keyframes runBgTree1{
    100%{left:-10rem; opacity:0}
    95%{left:-9.5rem;}
    90%{left:-9.0rem;}
    85%{left:-8.5rem;opacity:1}
    80%{left:-7.6rem;opacity:1}
    75%{left:-6.8rem;opacity:1}
    70%{left:-5.95rem;opacity:1}
    65%{left:-5.1rem;opacity:1}
    60%{left:-4.25rem;opacity:1}
    55%{left:-3.4rem;opacity:1}
    50%{left:-2.55rem;opacity:1}
    45%{left:-1.7rem;opacity:1}
    40%{left:-0.85rem;opacity:1}
    35%{left:-0rem;opacity:1}
    30%{left:0.85rem;opacity:1}
    25%{left:1.7rem;opacity:1}
    20%{left:2.55rem;opacity:1}
    15%{left:3.4rem;opacity:1}
    10%{left:4.25rem;opacity:1}
    5%{left:5.1rem;opacity:1}
    0%{left:7rem;opacity:1}
    to{
        opacity:0;
        left:-10rem;
    }
}
@keyframes runBgTree1{
    100%{left:-10rem; opacity:0}
    95%{left:-9.5rem;}
    90%{left:-9.0rem;}
    85%{left:-8.5rem;opacity:1}
    80%{left:-7.6rem;opacity:1}
    75%{left:-6.8rem;opacity:1}
    70%{left:-5.95rem;opacity:1}
    65%{left:-5.1rem;opacity:1}
    60%{left:-4.25rem;opacity:1}
    55%{left:-3.4rem;opacity:1}
    50%{left:-2.55rem;opacity:1}
    45%{left:-1.7rem;opacity:1}
    40%{left:-0.85rem;opacity:1}
    35%{left:-0rem;opacity:1}
    30%{left:0.85rem;opacity:1}
    25%{left:1.7rem;opacity:1}
    20%{left:2.55rem;opacity:1}
    15%{left:3.4rem;opacity:1}
    10%{left:4.25rem;opacity:1}
    5%{left:5.1rem;opacity:1}
    0%{left:7rem;opacity:1}
    to{
        opacity:0;
        left:-10rem;
    }
}



.page3 img:nth-child(4){
    top:6.92rem;
    left:2.5rem;
    width:2rem;
    height:2.8rem;
    opacity:1;
}


.page3 img:nth-child(5){
    top:8.1rem;
    left:1rem;
    width:1.31rem;
    height:1.70rem;
    opacity:1;
}
#page3 img:nth-child(5){
    -webkit-animation: runBgTree3 8s linear 1s 1 both;
    animation: runBgTree3 8s linear 1s 1 both;

}
@-webkit-keyframes runBgTree3 {
    0%{left:1rem;}
    10%{left:1.1rem;}
    20%{left:1.2rem;}
    30%{left:1.3rem;}
    40%{left:1.4rem;}
    50%{left:1.5rem;}
    60%{left:1.6rem;}
    70%{left:1.7rem;}
    80%{left:1.8rem;}
    90%{left:1.9rem;}
    100%{left:2rem;}
    to{
        left:2rem;
    }
}
@keyframes runBgTree3 {
    0%{left:1rem;}
    10%{left:1.1rem;}
    20%{left:1.2rem;}
    30%{left:1.3rem;}
    40%{left:1.4rem;}
    50%{left:1.5rem;}
    60%{left:1.6rem;}
    70%{left:1.7rem;}
    80%{left:1.8rem;}
    90%{left:1.9rem;}
    100%{left:2rem;}
    to{
        left:2rem;
    }
}


.page3 img:nth-child(6){
    top:0rem;
    left:0rem;
    width:6.42rem;
    height:11.08rem;
    opacity:0;
}
#page3 img:nth-child(6){
    -webkit-animation: fadeIn 1s linear 13s 1 both;
    animation: fadeIn 1s linear 13s 1 both;
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.page3 img:nth-child(7){
    top:7.8rem;
    left:2.5rem;
    width:1.42rem;
    height:1.71rem;
    opacity:0;
    z-index:3;
}
#page3 img:nth-child(7){
    -webkit-animation: fadeInOut 3.5s linear 13s 1 both;
    animation: fadeInOut 3.5s linear 13s 1 both;
}
@-webkit-keyframes fadeInOut {
    0%{
        opacity:0;
    }
    25%{
        opacity:0.5;
    }
    50%{
        opacity:1;
    }
    75%{
        opacity:0.5;
    }
    100%{
        opacity:0;
    }

}
@keyframes fadeInOut {
    0%{
        opacity:0;
    }
    25%{
        opacity:0.5;
    }
    50%{
        opacity:1;
    }
    75%{
        opacity:0.5;
    }
    100%{
        opacity:0;
    }
}


.page3 img:nth-child(8){
    top:2.2rem;
    left:0.9rem;
    width:4.12rem;
    height:7.45rem;
    opacity:0;
    z-index:3;
}
#page3 img:nth-child(8){
    -webkit-animation: rightInLef 5s linear 15s 1 both;
    animation: rightInLef 5s linear 15s 1 both;
}
@-webkit-keyframes rightInLef {
    0%{
        opacity:0;
    }
    25%{
        opacity:1;
        top:2.2rem;
        left:0.9rem;

    }
    50%{
        top:1.2rem;
        left:0.9rem;
        opacity:1;
    }
    100%{
        top:1.2rem;
        left:-4.1rem;
        opacity:1;
    }
    to{
        top:1.2rem;
        left:-4.1rem;
        opacity:1;
    }
}
@keyframes rightInLef {
    0%{
        opacity:0;
    }
    25%{
        opacity:1;
        top:2.2rem;
        left:0.9rem;

    }
    50%{
        top:1.2rem;
        left:0.9rem;
        opacity:1;
    }
    100%{
        top:1.2rem;
        left:-4.1rem;
        opacity:1;
    }
    to{
        top:1.2rem;
        left:-4.1rem;
        opacity:1;
    }
}

.page3 .flyCon span{
    position:absolute;
    left:7rem;
    font-size:0.3rem;
    z-index:4;
    color:#fff;
}
@-webkit-keyframes runFont {
    0%{
        left:7rem;
    }
    100%{
        left:-2rem;
    }
    to{
        left:-2rem;
    }
}
@keyframes runFont{
    0%{
        left:7rem;
    }
    100%{
        left:-2rem;
    }
    to{
        left:-2rem;
    }
}

.page3 .flyCon span:nth-child(4n+1){
    color: #87d6ff;
}
.page3 .flyCon span:nth-child(4n+2){
    color: #ffa54a;
}
.page3 .flyCon span:nth-child(4n+3){
    color: #a1ff95;
}
.page3 .flyCon span:nth-child(4n+4){
    color: #ff2207;
}
.page3 .flyCon span:nth-child(1){
    top:4rem;
}
#page3 .flyCon span:nth-child(1){
    -webkit-animation: runFont 2.5s linear 1s 1 both;
    animation: runFont 2.5s linear 1s 1 both;
}


.page3 .flyCon span:nth-child(2){
    top:4.5rem;
}

#page3 .flyCon span:nth-child(2){
    -webkit-animation: runFont 2.5s linear 1.5s 1 both;
    animation: runFont 2.5s linear 1.5s 1 both;
}

.page3 .flyCon span:nth-child(3){
    top:2rem;
}
#page3 .flyCon span:nth-child(3){
    -webkit-animation: runFont 2.5s linear 1.8s 1 both;
    animation: runFont 2.5s linear 1.8s 1 both;
}

.page3 .flyCon span:nth-child(4){
    top:3.5rem;
}
#page3 .flyCon span:nth-child(4){
    -webkit-animation: runFont 2.5s linear 2.5s 1 both;
    animation: runFont 2.5s linear 2.5s 1 both;
}
.page3 .flyCon span:nth-child(5){
    top:5rem;
}
#page3 .flyCon span:nth-child(5){
    -webkit-animation: runFont 2.5s linear 3s 1 both;
    animation: runFont 2.5s linear 3s 1 both;
}

.page3 .flyCon span:nth-child(6){
    top:2.5rem;
}
#page3 .flyCon span:nth-child(6){
    -webkit-animation: runFont 2.5s linear 3.5s 1 both;
    animation: runFont 2.5s linear 3.5s 1 both;
}

.page3 .flyCon span:nth-child(7){
    top:4rem;
}
#page3 .flyCon span:nth-child(7){
    -webkit-animation: runFont 2.5s linear 4s 1 both;
    animation: runFont 2.5s linear 4s 1 both;
}

.page3 .flyCon span:nth-child(8){
    top:3rem;
}
#page3 .flyCon span:nth-child(8){
    -webkit-animation: runFont 2.5s linear 4.5s 1 both;
    animation: runFont 2.5s linear 4.5s 1 both;
}

.page3 .flyCon span:nth-child(9){
    top:5rem;
}
#page3 .flyCon span:nth-child(9){
    -webkit-animation: runFont 2.5s linear 5s 1 both;
    animation: runFont 2.5s linear 5s 1 both;
}

.page3 .flyCon span:nth-child(10){
    top:2.5rem;
}
#page3 .flyCon span:nth-child(10){
    -webkit-animation: runFont 2.5s linear 5.5s 1 both;
    animation: runFont 2.5s linear 5.5s 1 both;
}

.page3 .flyCon span:nth-child(11){
    top:2rem;

}
#page3 .flyCon span:nth-child(11){
    -webkit-animation: runFont 2.5s linear 6s 1 both;
    animation: runFont 2.5s linear 6s 1 both;
}

.page3 .flyCon span:nth-child(12){
    top:4.5rem;
}
#page3 .flyCon span:nth-child(12){
    -webkit-animation: runFont 2.5s linear 6.5s 1 both;
    animation: runFont 2.5s linear 6.5s 1 both;
}

.page3 .flyCon span:nth-child(13){
    top:5rem;
}
#page3 .flyCon span:nth-child(13){
    -webkit-animation: runFont 2.5s linear 7s 1 both;
    animation: runFont 2.5s linear 7s 1 both;
}

.page3 .flyCon span:nth-child(14){
    top:2rem;
}
#page3 .flyCon span:nth-child(14){
    -webkit-animation: runFont 2.5s linear 7.5s 1 both;
    animation: runFont 2.5s linear 7.5s 1 both;
}

.page3 .flyCon span:nth-child(15){
    top:3rem;
}
#page3 .flyCon span:nth-child(15){
    -webkit-animation: runFont 2.5s linear 8s 1 both;
    animation: runFont 2.5s linear 8s 1 both;
}

.page3 .flyCon span:nth-child(16){
    top:4rem;
}
#page3 .flyCon span:nth-child(16){
    -webkit-animation: runFont 2.5s linear 8.5s 1 both;
    animation: runFont 2.5s linear 8.5s 1 both;
}


.page3 .skillCon{
    position:absolute;
    top:2.5rem;
    left:1rem;
    width:4.6rem;
    line-height:0.3rem;
    color:#FA5;
    opacity:0;
}

#page3 .skillCon {
    -webkit-animation: zoomIn 2s linear 13s 1 both;
    animation: zoomIn 2s linear 13s 1 both;
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
    to{
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
    to{
        opacity: 1;
    }
}


/* ======== page4 ======== */


.page4 {
    position: relative;
    background-size: cover;
}

.page4 img{
    position:absolute;
}
.page4 h2{
    position:absolute;
    top:1rem;
    left:1rem;
    color:white;
    font-size:0.6rem;
    z-index:0;
}

#page4 h2{
    -webkit-animation: bounce 1.5s linear 0s 1 both;
    animation: bounce 1.5s linear 0s 1 both;

}
@-webkit-keyframes bounce {
    from, 20%, 53%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

@keyframes bounce {
    from, 20%, 53%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}


.page4 img:nth-child(1){
    top:0;
    left:0;
    width:6.4rem;
    height:11.08rem;
    opacity:1;
}

.page4 img:nth-child(2){
    top:6.14rem;
    left:2.9rem;
    width:3.5rem;
    height:4.95rem;
    opacity:0;
}
#page4 img:nth-child(2){
    -webkit-animation: fadeInRight 2s linear 0s 1 both;
    animation: fadeInRight 2s linear 0s 1 both;

}
@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


.page4 img:nth-child(3){
    top:1rem;
    left:7rem;
    width:2rem;
    height:2.73rem;
    opacity:1;
}
#page4 img:nth-child(3){
    -webkit-animation: rightInLef 5s linear 2s 1 both;
    animation: rightInLef 5s linear 2s 1 both;

}

.page4 .pCon span{
    position:absolute;
    left:1rem;
    font-size:0.3rem;
    color:rgba(255,255,255,0.8);
    opacity:0;
}

.page4 .pCon i{
    position:absolute;
    top:1rem;
    left:0.5rem;
    opacity:0;
    /*height:0.1rem;*/
    border:0.01rem solid rgba(79, 226, 219, 0.49);
}
.page4 .pCon i:nth-child(1){
    top:2rem;
}
#page4 .pCon i:nth-child(1) {
    -webkit-animation: heightLong 1s linear 5s 1 both;
    animation: heightLong 1s linear 5s 1 both;
}
@-webkit-keyframes heightLong {
    0%{
        opacity:0;
        height:0rem;
    }
    5%{
        opacity:1;
    }
    100%{
        opacity:1;
        height:0.4rem;
    }
    to{
        opacity:1;
        height:0.4rem;
    }
}
@keyframes heightLong {
    0%{
        opacity:0;
        height:0rem;
    }
    5%{
        opacity:1;
    }
    100%{
        opacity:1;
        height:0.4rem;
    }
    to{
        opacity:1;
        height:0.4rem;
    }
}

.page4 .pCon span:nth-child(2){
    top:2rem;
}
#page4 .pCon span:nth-child(2) {
    -webkit-animation: bounceInRight 2s linear 5.5s 1 both;
    animation: bounceInRight 2s linear 5.5s 1 both;
}

.page4 .pCon i:nth-child(3){
    top:2.5rem;
}
#page4 .pCon i:nth-child(3) {
    -webkit-animation: heightLong 1s linear 6s 1 both;
    animation: heightLong 1s linear 6s 1 both;
}
.page4 .pCon span:nth-child(4){
    top:2.5rem;
}
#page4 .pCon span:nth-child(4) {
    -webkit-animation: bounceInRight 2s linear 6.5s 1 both;
    animation: bounceInRight 2s linear 6.5s 1 both;
}
.page4 .pCon i:nth-child(5){
    top:3rem;
}
#page4 .pCon i:nth-child(5) {
    -webkit-animation: heightLong 1s linear 7s 1 both;
    animation: heightLong 1s linear 7s 1 both;
}

.page4 .pCon span:nth-child(6){
    top:3rem;
}
#page4 .pCon span:nth-child(6) {
    -webkit-animation: bounceInRight 2s linear 7.5s 1 both;
    animation: bounceInRight 2s linear 7.5s 1 both;
}
.page4 .pCon i:nth-child(7){
    top:3.5rem;
}
#page4 .pCon i:nth-child(7) {
    -webkit-animation: heightLong 1s linear 8s 1 both;
    animation: heightLong 1s linear 8s 1 both;
}

.page4 .pCon span:nth-child(8){
    top:3.5rem;
}
#page4 .pCon span:nth-child(8) {
    -webkit-animation: bounceInRight 2s linear 8.5s 1 both;
    animation: bounceInRight 2s linear 8.5s 1 both;
}
.page4 .pCon i:nth-child(9){
    top:4rem;
}
#page4 .pCon i:nth-child(9) {
    -webkit-animation: heightLong 1s linear 9s 1 both;
    animation: heightLong 1s linear 9s 1 both;
}

.page4 .pCon span:nth-child(10){
    top:4rem;
}
#page4 .pCon span:nth-child(10) {
    -webkit-animation: bounceInRight 2s linear 9.5s 1 both;
    animation: bounceInRight 2s linear 9.5s 1 both;
}
.page4 .pCon i:nth-child(11){
    top:4.5rem;
}
#page4 .pCon i:nth-child(11) {
    -webkit-animation: heightLong 1s linear 10s 1 both;
    animation: heightLong 1s linear 10s 1 both;
}

.page4 .pCon span:nth-child(12){
    top:4.5rem;

}
#page4 .pCon span:nth-child(12) {
    -webkit-animation: bounceInRight 2s linear 10.5s 1 both;
    animation: bounceInRight 2s linear 10.5s 1 both;
}
.page4 .pCon i:nth-child(13){
    top:5rem;
}
#page4 .pCon i:nth-child(13) {
    -webkit-animation: heightLong 1s linear 11s 1 both;
    animation: heightLong 1s linear 11s 1 both;
}

.page4 .pCon span:nth-child(14){
    top:5rem;

}
#page4 .pCon span:nth-child(14) {
    -webkit-animation: bounceInRight 2s linear 11.5s 1 both;
    animation: bounceInRight 2s linear 11.5s 1 both;
}



/* ======== page5 ======== */





.page5 {
    position: relative;
    background-size: cover;
}

.page5 img{
    position:absolute;
}

.page5 img:nth-child(1){
    top:0;
    left:0;
    width:6.4rem;
    height:11.08rem;
    /*opacity:0;*/
}



#page5 img:nth-child(1){
    -webkit-animation: pulse 1s linear 0s 1 both;
    animation: pulse 1s linear 0s 1 both;
}
@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.page5 .info span{
    position:absolute;
    top:1rem;
    left:1rem;
    width:1rem;
    height:1rem;
    z-index:1;
    text-align: center;
    border-radius: 50%;
    color:#fff;
    background-color:rgba(45, 44, 44,0.9);
    box-shadow: 0.01rem 0.01rem 0.03rem #051918;
    opacity:0;
}

.page5 .info span:nth-child(1){
    width:1rem;
    height:1rem;
    line-height:1rem;
    top:6rem;
    left:3.6rem;
    z-index:1;
}
#page5 .info span:nth-child(1){
    -webkit-animation: pulseRadius 2s linear 1s 1 both;
    animation: pulseRadius 2s linear 1s 1 both;
}
.page5 .info span:nth-child(2){
    top:6rem;
    left:4.4rem;
    width:1.4rem;
    height:1rem;
    padding-top:0.4rem;

}
#page5 .info span:nth-child(2){
    -webkit-animation: pulseRadius 2s linear 1.5s 1 both;
    animation: pulseRadius 2s linear 1.5s 1 both;
}
.page5 .info span:nth-child(3){
    top:7rem;
    left:0.7rem;
    width:1rem;
    height:1rem;
    line-height:1rem;
    z-index:1;
}
#page5 .info span:nth-child(3){
    -webkit-animation: pulseRadius 2s linear 2s 1 both;
    animation: pulseRadius 2s linear 2s 1 both;
}
.page5 .info span:nth-child(4){
    top:7rem;
    left:1.4rem;
    width:1.4rem;
    height:1rem;
    padding-top:0.4rem;

}
#page5 .info span:nth-child(4){
    -webkit-animation: pulseRadius 2s linear 2.5s 1 both;
    animation: pulseRadius 2s linear 2.5s 1 both;
}
.page5 .info span:nth-child(5){
    top:8rem;
    left:4.4rem;
    width:1.4rem;
    height:1rem;
    padding-top:0.4rem;
}
#page5 .info span:nth-child(5){
    -webkit-animation: pulseRadius 2s linear 3s 1 both;
    animation: pulseRadius 2s linear 3s 1 both;
}
.page5 .info span:nth-child(6){
    top:5rem;
    left:0.4rem;
    width:1.4rem;
    height:1rem;
    padding-top:0.4rem;
    opacity:0;
}

#page5 .info span:nth-child(6){
    -webkit-animation: pulseRadius 2s linear 3.5s 1 both;
    animation: pulseRadius 2s linear 3.5s 1 both;
}


@-webkit-keyframes pulseRadius {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    0%{
        opacity:0;
    }
    50% {
        opacity:1;
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        opacity:1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes pulseRadius {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    0%{
        opacity:0;
    }
    50% {
        opacity:1;
        -webkit-transform: scale3d(1.35, 1.35, 1.35);
        transform: scale3d(1.35, 1.35, 1.35);
    }

    to {
        opacity:1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}























